.container {
    padding: 10px;
}

.headingsty {
    font-size: 20px;
    color: #313131;
    font-weight: 700;
    line-height: 28px;
}

.lineImage {
    width: 100%;
    height: 1px;
    margin: 5px auto;
    display: block;
}

.newsGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: center;
}

.trendingnewimgsty {
    width: 49%;
    display: flex;
    flex-direction: column;
    margin: 25px auto 0 auto; /* Adjusted for top and horizontal centering */
}


.imgsty {
    width: 400.5px;
    height: 210px;
    object-fit: cover;
}

.newconsty {
    margin-top: 10px;
    width: 98%;
}

.newstxtsty {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #313131;
    margin: 5px 0;
}

.datetxtsty {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #334E5C;
    margin: 5px 0;
}

.newslinetxtsty {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #313131;
    margin: 5px 0;
}

.imgsty1{
    width: 297px;
    height: 87px;
}
.addcontainersty{
    margin-top: 30px;
}
.imgsty2{
    width: 297px;
    height: 450px;
    margin-top: 10px;
}
.imgsty3{
   width: 297px;
   height: 200px;
   margin-top: 10px;

}

@media (max-width: 1200px) {
    .headingsty {
        font-size: 18px;
    }
    .newstxtsty {
        font-size: 16px;
    }
    .imgsty {
        width: 400.5px;
        height: 210px;
        object-fit: cover;
    }
}

@media (max-width: 992px) {
    .trendingnewimgsty {
        width: 48%;
    }
    .imgsty {
        max-width: 350px;
        max-height: 180px;
    }
}

@media (max-width: 768px) {
    .trendingnewimgsty {
        width: 100%;
    }
    .newstxtsty {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .headingsty {
        font-size: 16px;
    }
    .imgsty {
        max-width: 300px;
        max-height: 160px;
    }
}

@media (max-width: 480px) {
    .headingsty {
        font-size: 14px;
    }
    .newstxtsty {
        font-size: 14px;
    }
    .datetxtsty,
    .newslinetxtsty {
        font-size: 10px;
    }
}

/* Higher resolutions */
@media (min-width: 1200px) {
    .newsGrid {
        gap: 10px;
    }
}

@media (min-width: 992px) {
    .imgsty {
        max-width: 400px;
        max-height: 210px;
    }
}

@media (min-width: 768px) {
    .trendingnewimgsty {
        width: 48%;
    }
}

@media (min-width: 576px) {
    .trendingnewimgsty {
        width: 49%;
    }
}

@media (min-width: 480px) {
    .headingsty {
        font-size: 20px;
    }
}
