/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center; /* Centers .navItems within navbar */
  max-width: 1280px;
  width: 96%;
  height: 60px;
  /* margin: 5px auto; */
  box-sizing: border-box;
}

.netajitxtsty {
  height: 53px;
  width: 120px;
  margin-right: 5px;
}

.netasty {
  height: 53px;
  width: 150px;
}

.navItems {
  display: flex;
  align-items: center;
  justify-content: center; /* Centers items inside .navItems */
  flex: 1;
}

.burgerIcon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #000;
  margin-top: 5px;
  z-index: 3;
}

.heddenimg {
  display: none;
}

.navLinks {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navLinks li {
  margin: 0 15px;
  display: flex;
  align-items: center;
}

.navLinks p {
  text-decoration: none;
  color: #ffff;
  margin-left: 10px;
}

/* Overlay styling for mobile when the menu is open */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: opacity 0.3s ease;
}

.overlay.open {
  display: block;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    /* margin-bottom: 10px; */
  }

  .navItems {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #ffff;
    padding-top: 60px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    z-index: 2;
    justify-content: flex-start;
    text-align: left;
  }
  .netajiimgsty {
    margin-left: 7px;
    padding-bottom: 10px;
  }

  .heddenimg {
    display: block;
    justify-content: center;
  }
  .netajitxtsty {
    height: 35px;
    width: 60px;
  }

  .netasty {
    height: 35px;
    width: 80px;
  }

  .navItems.open {
    transform: translateX(0);
  }

  .navLinks {
    flex-direction: column;
    width: 100%;
  }

  .navLinks li {
    margin: -10px 0;
    padding: 10px 20px;
  }

  .burgerIcon {
    display: block;
    position: absolute;
    top: 85px;
    right: 20px;
  }
}
