.container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.categoriesRow {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.categorySection {
  flex: 1;
  padding: 10px;
  border-right: 1px solid #000000;
}
.newsLink {
  gap: 10px;
}

.categorySection:last-child {
  border-right: none;
}

.lineImage {
  width: 100%;
  height: 5px;
  margin-bottom: -15px;
}

.lineImage2 {
  width: 100%;
  height: 2px;
}

.headingtxtsty {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  color: black;
  /* text-align: center; */
}

.newtxtsty {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  flex: 1;
}

.newsImage {
  width: 155px;
  height: 87px;
  object-fit: cover;
}

.newsItem {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 15px;
  width: 100%;
}

@media (max-width: 767px) {
  .categoriesRow {
    flex-direction: column;
  }
  .categorySection {
    border-right: none;
    border-bottom: 2px solid #ccc;
  }
}
