.container {
  padding: 10px;
  max-width: 1280px;
  width: 96%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.flexRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.hiddenimg {
  display: flex;
  align-items: center;
  flex-direction: row;
}

/* Logo styling */
.logoimgsty {
  /* display: block; */
  height: 149px;
  width: 149px;
  margin-right: 10px;
}

/* "Suniye" and "Neta" images styling */
.netajitxtsty {
  height: 53px;
  width: 120px;
  margin-right: 5px;
}

.netasty {
  height: 57px;
  width: 172px;
}

/* Mobile-specific text styling */
.mobileText {
  display: none;
}

.headerText {
  font-size: 14px;
  color: white;
  text-align: center;
}

.blackBox {
  background-color: #000;
  color: white;
  height: 40px;
  width: 201px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yellowBox {
  background-color: #ffea00;
  height: 40px;
  width: 143px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.citysty {
  width: 36px;
  height: 36px;
  left: 10px;
}

.locationcon {
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.searchcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
}

/* Adjustments for medium screens */
@media (max-width: 1200px) {
  .hiddenimg {
    display: flex;
  }
}

@media (max-width: 992px) {
  .logoimgsty {
    height: 120px;
  }
  .blackBox,
  .yellowBox {
    width: 140px;
  }
}

/* Adjustments for tablets */
@media (max-width: 768px) {
  /* Hide logo image on mobile */


  /* Display "Suniye" and "Neta" images centered on mobile */
  .hiddenimg {
    justify-content: center;
  }

  /* Display mobile-specific text */
  .mobileText {
    display: block;
    font-size: 20px;
    color: white;
  }

  .blackBox,
  .yellowBox {
    width: 120px;
  }

  .headerText {
    font-size: 12px;
  }
}

/* Adjustments for small mobile screens */
@media (max-width: 576px) {
  .searchcontainer {
    margin-left: 32px;
  }
  .logoimgsty {
   height: 60px;
   width: 60px;
  }
  .blackBox {
    width: 90px;
    height: 35px;
  }
  .netajitxtsty {
  display: none;
  }

  .netasty {
    display: none;
  }

  .yellowBox {
    width: 80px;
    height: 35px;
  }

  .headerText {
    font-size: 12px;
    color: white;
    text-align: center;
  }

  .citysty {
    width: 26px;
    height: 26px;
    left: 10px;
  }
}
